.gradle/
build/
**/build/
bin/
**/bin/
!gradle/wrapper/gradle-wrapper.jar
*.jar
*.war
*.ear
target/
.idea/
*.iws
*.iml
*.ipr
out/
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/extensions.json
.DS_Store
._*
*.log
logs/
.env
.env.local
application-local.yml
application-secrets.yml
!gradle/wrapper/gradle-wrapper.jar
.log
